<div id="chat_modal" class="w3-modal w3-padding-48">
    <div class="w3-modal-content w3-animate-bottom w3-card-4" style="display: flex; flex-flow: column; height: 100%">
        <div class="w3-container w3-theme w3-padding">
            <h2>
                <span id="chat_title">Title</span>
                <span onclick="closeChat()" class="w3-right"
                    style="width: 3ex; text-align: center; cursor: pointer;">&#x2716;</span>
            </h2>
        </div>
        <div class="w3-container" id="chat_msgs" style="flex: auto; overflow-y: scroll;">
        </div>
        <div style="display: flex; flex-flow: row;">
            <button class="w3-button w3-block w3-theme-l3 w3-hover-theme" onclick='sendMessage({type: "test"})'
                id="btn_acc">Counter</button>
        </div>
        <footer class="w3-container w3-theme w3-padding">
            <input type="text" id="chat_input" class="w3-block w3-input w3-theme-l2" enterkeyhint="send" onkeypress='if (event.key == "Enter") {
                    sendMessage({
                        type:"text",
                        txt: this.value,
                        to: currentChat
                    })
                    document.getElementById("chat_input").value = ""
                    document.getElementById("chat_input").blur()
                }'>
        </footer>
    </div>
</div>