<div id="kontact_modal" class="w3-modal w3-padding-48">
    <div class="w3-modal-content w3-animate-bottom w3-card-4" style="display: flex; flex-flow: column; height: 100%">
        <div class="w3-container w3-theme">
            <h2>
                <span>Kontact / Kontakt</span>
                <span onclick="document.getElementById('kontact_modal').style.display = 'none'" class="w3-right"
                    style="width: 3ex; text-align: center; cursor: pointer;">&#x2716;</span>
            </h2>
        </div>
        <div class="w3-container">
            <!-- german -->
            <div class="w3-half">
                <div class="w3-card-4 w3-margin">
                    <!-- text -->
                    <div class="w3-container w3-justify">
                        <p>
                            Bei Fragen, Anregungen oder sonstigem Interesse, melden Sie sich einfach unter den angegebenden Daten.
                        </p>
                    </div>
                </div>
            </div>

            <!-- english -->
            <div class="w3-half">
                <div class="w3-card-4 w3-margin">
                    <!-- text -->
                    <div class="w3-container w3-justify">
                        <p>
                            If you have any questions, suggestions or are otherwise interested, simply contact us using the data provided.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="w3-container w3-margin">
            <p>
                <strong>E-Mail:</strong> kontact@studiswipe.online
            </p>
        </div>
    </div>

</div>