<div class="w3-card-4 w3-theme-l5" style="display: flex; flex-flow: column; height: 100%;">
    <div class="w3-container w3-blue" style="flex: 0;">
        <h3>Matches</h3>
    </div>
    <div id="matches" style="flex: 1; max-height: inherit; overflow-y: scroll;" >
    </div>
</div>