<div class="w3-card-4 w3- w3-theme-l5">
    <div class="w3-container w3-blue">
        <h3>Swipe</h3>
    </div>
    <div class="w3-container w3-light-green">
        <h3>Daniel</h3>
        <div><span>19yo</span>, <span>Sports</span></div>
    </div>
</div>