<div class="w3-card-4 w3-theme-l5" style="height: 100%; max-height: 100%; display: flex; flex-flow: column;">
    <div class=" w3-container w3-blue" style="flex: 0 1;">
        <h3>Swipe</h3>
    </div>
    <div style="flex: 2 1; height: 100%; max-height: inherit; overflow-y: scroll;">
        <div id="swipe_null" class="w3-padding" style="display: none;"><span class="w3-left">Sorry, but it looks like you've already swiped all the students that are right for you</span></div>
        <h2 class="w3-center" id="swipe_name"></h2>
        <div class="w3-container">
            <p class="w3-justify" id="swipe_bio"></p>
        </div>
    </div>
    <div style="flex: 0 1;">
        <button class="w3-button w3-block w3-theme-l3 w3-hover-theme w3-half" style="width: 50%;"
            id="swipe_pass">Pass</button>
        <button class="w3-button w3-block w3-theme-l3 w3-hover-theme w3-half" style="width: 50%;"
            id="swipe_like">Like</button>
    </div>
</div>