<div class="w3-card-4 w3- w3-theme-l5">
    <div class="w3-container w3-blue">
        <h3>Swipe</h3>
    </div>
    <div class=" w3-light-green">
        <!-- <h3 class="w3-container w3-red">Daniel</h3>
        <div class="w3-container w3-red"><span>19yo</span>, <span>Sports</span></div> -->
        <table class="w3-container w3-table">
            <tr>
                <td>Name:</td>
                <td id="swipe_name">
                    
                </td>
            </tr>
            <tr>
                <td>Bio:</td>
                <td id="swipe_bio">
                    
                </td>
            </tr>
        </table>
        <div>
            <button class="w3-button w3-block w3-theme-l3 w3-hover-theme w3-half" id="swipe_pass">Pass</button>
            <button class="w3-button w3-block w3-theme-l3 w3-hover-theme w3-half" id="swipe_like">Like</button>
        </div>
    </div>
</div>