<div class="w3-card-4 w3-theme-l5" style="height: 100%; max-height: 100%; display: flex; flex-flow: column;">
    <div class=" w3-container w3-blue" style="flex: 0 1;">
        <h3>Swipe</h3>
    </div>
    <div style="flex: 2 1; height: 100%; max-height: inherit; overflow-y: scroll;">
        <table class="w3-table">
            <tr>
                <td>Name:</td>
                <td id="swipe_name"></td>
            </tr>
            <tr>
                <td>Bio:</td>
                <td id="swipe_bio"></td>
            </tr>
            <tr>
                <td>Bio:</td>
                <td id="swipe_bio"></td>
            </tr>
            <tr>
                <td>Bio:</td>
                <td id="swipe_bio"></td>
            </tr>
            <tr>
                <td>Bio:</td>
                <td id="swipe_bio"></td>
            </tr>
            <tr>
                <td>Bio:</td>
                <td id="swipe_bio"></td>
            </tr>
            <tr>
                <td>Bio:</td>
                <td id="swipe_bio"></td>
            </tr>
        </table>
    </div>
    <div style="flex: 0 1;">
        <button class="w3-button w3-block w3-theme-l3 w3-hover-theme w3-half" style="width: 50%;" id="swipe_pass"><b>Pass</b></button>
        <button class="w3-button w3-block w3-theme-l3 w3-hover-theme w3-half" style="width: 50%;" id="swipe_like"><b>Like</b></button>
    </div>
</div>