<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudiSwipe - LOGIN</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue.css">
</head>

<body>
    <div class="w3-container w3-bar w3-blue">
        <h3 class="w3-bar-item">StudiSwipe</h3>
        <!-- <h3 class="w3-bar-item w3-right">&#9776;</h3> -->
    </div>
    <div class="w3-card w3-display-middle w3-theme-l5" style="width: fit-content;">
        <div class="w3-container w3-blue">
            <h3>Login</h3>
        </div>

        <form action="/login" method="post" class="w3-container w3-margin">
            <label for="id">User-ID:</label><br>
            <input class="w3-input w3-theme-l4" type="text" name="id" id="id" required><br>

            <label for="password">Password:</label><br>
            <input class="w3-input w3-theme-l4" type="password" name="password" id="password" required><br>

            <button class="w3-button w3-block w3-theme-l3 w3-hover-theme" type="submit">Login</button>
        </form>
    </div>
</body>

</html>
