<!DOCTYPE html>

<html style="height :100%;">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue.css">

    <title>StudiSwipe</title>
</head>

<body style="display: flex; flex-flow: column; height: 100%; user-select: none;">
    <!-- Header -->
    <%- include('components/header') %>

        <!-- gretings -->
        <div class="w3-container w3-padding-24 w3-content" style="flex: 0 1;">
            <div class="w3-card-4">
                <!-- content -->
                <div style="height: fit-content;">
                    <div class="w3-container">

                        <!-- german -->
                        <div class="w3-half">
                            <div class="w3-card-4 w3-margin">
                                <!-- title -->
                                <div class="w3-container w3-theme">
                                    <h3>Willkommen..</h3>
                                </div>
                                <!-- text -->
                                <div class="w3-container w3-justify">
                                    <p>
                                        .. bei <b>StudiSwipe</b>. Wir bieten die Möglichkeit, dass sich Schülerinnen und
                                        Schüler digital auf Ihren Austausch vorbereiten können.
                                    </p>
                                    <p>
                                        Im gegensatz zu anderen Möglichen Platformen wie z.B. WhatsApp, bieten wir einen
                                        jugendfreundlichen Rahmen mit Mini-Games, Sprach-Quizzen mit garantiertem
                                        Lerneffekt und vielen weiten Gimmicks innerhalb des Chats.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- english -->
                        <div class="w3-half">
                            <div class="w3-card-4 w3-margin">
                                <!-- title -->
                                <div class="w3-container w3-theme">
                                    <h3>Welcome..</h3>
                                </div>
                                <!-- text -->
                                <div class="w3-container w3-justify">
                                    <p>
                                        .. to <b>StudiSwipe</b>. We offer students the opportunity to prepare themselves
                                        digitally for their exchange.
                                    </p>
                                    <p>
                                        In contrast to other possible platforms such as WhatsApp, we offer a
                                        youth-friendly framework with mini-games, language quizzes with a guaranteed
                                        learning effect and many wide gimmicks within the chat.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- login -->
        <div class="w3-container w3-padding-24 w3-content" style="flex: 1 1;">
            <div class="w3-card-4">
                <!-- title -->
                <div class="w3-container w3-theme">
                    <h3>Beta-Tester?</h3>
                </div>
                <!-- content -->
                <div style="height: fit-content;">
                    <div class="w3-container">
                        <!-- german -->
                        <div class="w3-half">
                            <p class="w3-card w3-padding w3-margin w3-justify">
                                Wenn du zu unserer Testgruppe gehörst und bereits deine Anmeldedaten von uns bekommen
                                hast, dann kannst du dich hier Anmelden.
                            </p>
                        </div>

                        <!-- english -->
                        <div class="w3-half">
                            <p class="w3-card w3-padding w3-margin w3-justify">
                                If you belong to our test group and have already received your registration data from
                                us, you can register here.
                            </p>
                        </div>
                    </div>
                    <!-- button -->
                    <div class="w3-container w3-padding w3-center">
                        <a href="/login" class="w3-button w3-theme" style="width: 50%;">Login</a>
                    </div>


                </div>
            </div>
        </div>

        <!-- footer -->
        <div class="w3-container w3-theme-l1" style="flex: 0 1;">
            <div class="w3-right">
                <button class="w3-button w3-theme w3-margin"
                    onclick="document.getElementById('kontact_modal').style.display = 'block'">Kontakt/Kontact</button>
            </div>
        </div>

        <%- include('components/impressum') %>
</body>

</html>